# --- Python ---
__pycache__/
*.py[cod]
*.pyc

# --- Variables de entorno ---
.env
.env.local

# --- Entornos virtuales ---
.venv/
venv/
env/
environmet/
virtual/

# --- Archivos comprimidos ---
*.rar
*.zip
*.7z

# --- Carpetas no utilizadas ---
data/
proyecto/

# --- Sistema operativo ---
.DS_Store
Thumbs.db

# --- IDE ---
.vscode/
.idea/

# --- Logs ---
*.log